{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true
    },
    "target": "es2022",
    "baseUrl": ".",
    "paths": {
      "@/*": ["src/*"]
    },
    "keepClassNames": true,
    "loose": false
  },
  "module": {
    "type": "commonjs"
  },
  "exclude": ["__tests__", ".*\\.test\\.ts$", ".*\\.spec\\.ts$", ".*\\.e2e-spec\\.ts$"]
}
